
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Thông tin chi tiết sản phẩm</h2>
<h3>Tên sản phẩm: @Model.TENSP</h3>
<h3>Giá sp: @Model.GIASP</h3>
<h3>Mô tả sp: @Model.MOTASP</h3>

